In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
import glob
file_names = glob.glob("C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data/*json")
file_names

['C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_101_150.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_151_200.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_1_20.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_201_250.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_21_40.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_251_300.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_301_350.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_351_400.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_401_450.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_41_60.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_451_500.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_501_550.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_551_572.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_61_80.json',
 'C:/Users/Rishabh/Downloads/Scrapped Data/Scrapped Data\\lawyersData_81_100.json']

In [33]:
import pandas as pd
# df = pd.DataFrame(columns=['Name', 'Experience', 'Location', 'Ratings', 'Ar 1', 'Ar 2','Ar 3'])

In [34]:
def fetch_name(s):
  return s[9:]
def fetch_location(s):
  return s.split(", ")[-1]
def fetch_experience(s):
  try:
    return int(s[:4])
  except:
    return int(s[:3])
def fetch_practice_ar(ls):
  res = [None]*3
  ls = ls[0].split(",")[:-1]
  for i in range(len(ls)):
    ls[i] = ls[i].replace(" ", "_")
    if ls[i][0] == "_":
      res[i] = ls[i][1:].lower()
    else:
      res[i] = ls[i].lower()
  return res
def fetch_ratings(s):
  return float(s.split(" ")[0])

import random
import numpy as np
def get_random(n):
  ls = [
      'anticipatory_bail','arbitration','armed_forces_tribunal','banking_/_finance','bankruptcy_/_insolvency',
      'breach_of_contract','cheque_bounce','child_custody','civil','consumer_court','corporate','court_marriage',
      'criminal','customs_&_central_excise','cyber_crime','divorce','documentation','domestic_violence',
      'family','gst','high_court','immigration','insurance','international_law','labour_&_service','landlord/tenant',
      'media_and_entertainment','medical_negligence','motor_accident','muslim_law','nclt','patent','property',
      'r.t.i','recovery','rera','startup','succession_certificate','supreme_court','tax','trademark_&_copyright',
      'wills_/_trusts'
      ]
  new_Ar = random.sample(ls,n)
  return new_Ar

In [35]:
get_random(7)

['insurance',
 'labour_&_service',
 'civil',
 'domestic_violence',
 'bankruptcy_/_insolvency',
 'family',
 'consumer_court']

In [36]:
import pandas as pd
import json
import numpy as np
n_features = 5
df = pd.DataFrame([])
for f in file_names:
  with open(f) as user_file:
    file_contents = user_file.read()
    try:
      parsed_json = json.loads(file_contents)
    except:
      parsed_json = {}
    for advoc in parsed_json:
      name = fetch_name(advoc['name'])
      loc = fetch_location(advoc['location'])
      exp = fetch_experience(advoc['experience'])
      practice_ar = fetch_practice_ar(advoc['Practice_Area'])
      practice_ar = get_random(n_features) #Pick number of attributes
      ratings = fetch_ratings(advoc['Rating'])
      try:
        if len(df) == 0:
          col_names = ['Name', 'Experience', 'Location', 'Ratings']
          for i in range(len(practice_ar)):
            n = 'Ar_{}'.format(i+1)
            col_names.append(n)
          df = pd.DataFrame(columns=col_names)

        dic = {'Name':name, 'Experience':exp, 'Location':loc, 'Ratings':ratings}
        for i in range(len(practice_ar)):
          n = 'Ar_{}'.format(i+1)
          dic[n] = practice_ar[i]
        new_record = pd.DataFrame([dic])
        df = pd.concat([df, new_record], ignore_index=True)
      except:
        pass

In [37]:
fetch_practice_ar(advoc['Practice_Area'])

['criminal', 'divorce', 'family']

In [38]:
df

,Name,Experience,Location,Ratings,Ar_1,Ar_2,Ar_3,Ar_4,Ar_5
0,Dilip Kumar,23,Muzaffarpur,5.0,corporate,medical_negligence,consumer_court,civil,wills_/_trusts
1,Yatish Kumar Goel,11,Gurgaon,5.0,court_marriage,supreme_court,startup,r.t.i,arbitration
2,Arpana Kumari,13,Delhi,4.5,property,landlord/tenant,anticipatory_bail,labour_&_service,customs_&_central_excise
3,Pankaj Navlani,15,Nagpur,4.0,divorce,international_law,domestic_violence,wills_/_trusts,cyber_crime
4,Rahul Kumar Singh,10,Delhi,5.0,succession_certificate,family,motor_accident,child_custody,r.t.i
...,...,...,...,...,...,...,...,...,...
11441,Devinder Chowdhury,19,Delhi,5.0,documentation,media_and_entertainment,trademark_&_copyright,breach_of_contract,cyber_crime
11442,Anil Yadav,36,Gurgaon,5.0,labour_&_service,customs_&_central_excise,media_and_entertainment,court_marriage,recovery
11443,Aftabhusen A Ansari,17,Ahmedabad,4.3,arbitration,gst,armed_forces_tribunal,consumer_court,labour_&_service
11444,Ashish Kumar Bembey,22,Jalandhar,5.0,gst,wills_/_trusts,labour_&_service,patent,media_and_entertainment
11445,Servedaman Rathore,11,Shimla,5.0,property,medical_negligence,armed_forces_tribunal,criminal,nclt

In [39]:
df = df.dropna()
df.isna().sum()

Name          0
Experience    0
Location      0
Ratings       0
Ar_1          0
Ar_2          0
Ar_3          0
Ar_4          0
Ar_5          0
dtype: int64

In [40]:
df.head(2)

,Name,Experience,Location,Ratings,Ar_1,Ar_2,Ar_3,Ar_4,Ar_5
0,Dilip Kumar,23,Muzaffarpur,5.0,corporate,medical_negligence,consumer_court,civil,wills_/_trusts
1,Yatish Kumar Goel,11,Gurgaon,5.0,court_marriage,supreme_court,startup,r.t.i,arbitration

In [41]:
df['comb'] = df[df.columns[4:]].apply(lambda x: ' '.join(x.dropna().astype(str)),axis=1)
df.head(2)

,Name,Experience,Location,Ratings,Ar_1,Ar_2,Ar_3,Ar_4,Ar_5,comb
0,Dilip Kumar,23,Muzaffarpur,5.0,corporate,medical_negligence,consumer_court,civil,wills_/_trusts,corporate medical_negligence consumer_court ci...
1,Yatish Kumar Goel,11,Gurgaon,5.0,court_marriage,supreme_court,startup,r.t.i,arbitration,court_marriage supreme_court startup r.t.i arb...

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def create_similarity(data):
  # creating a count matrix
  cv = CountVectorizer()
  count_matrix = cv.fit_transform(data['comb'])
  # creating a similarity score matrix
  similarity = cosine_similarity(count_matrix)
  return data,similarity

df, similarity = create_similarity(df)

In [43]:
def rcmd(data,similarity,m):
  i = data.loc[data['Name']==m].index[0]
  lst = list(enumerate(similarity[i]))
  lst = sorted(lst, key = lambda x:x[1] ,reverse=True)
  lst = lst[1:11] # excluding first item since it is the requested movie itself
  l = []

  for i in range(len(lst)):
      a = lst[i][0]
      l.append(data['Name'][a])
  return l

In [44]:
ls = rcmd(df,similarity,'Sivakumar Thiyagarajan')
ls

['Sameer Jain',
 'Pulkit Agarwal',
 'Hemant Pandey',
 'Sunny Agrawal',
 'Arun Kumar Saha',
 'Srinivas Gundeti',
 'H V B R K Dora',
 'Smriti Khurana',
 'Sarika Soam',
 'Rupali Awati']

In [45]:
df[df['Name'] == 'Sivakumar Thiyagarajan']

,Name,Experience,Location,Ratings,Ar_1,Ar_2,Ar_3,Ar_4,Ar_5,comb
4800,Sivakumar Thiyagarajan,17,Cuddalore,4.0,muslim_law,property,anticipatory_bail,nclt,armed_forces_tribunal,muslim_law property anticipatory_bail nclt arm...

In [46]:
df[df['Name'] == 'Kuntal Ghosh']

,Name,Experience,Location,Ratings,Ar_1,Ar_2,Ar_3,Ar_4,Ar_5,comb
3498,Kuntal Ghosh,1,Agartala,4.0,court_marriage,international_law,bankruptcy_/_insolvency,customs_&_central_excise,banking_/_finance,court_marriage international_law bankruptcy_/_...

In [47]:
import pickle

In [48]:
pickle.dump(df.to_dict(),open('movies_dict.pkl','wb'))

In [49]:
pickle.dump(similarity,open('similarity.pkl','wb'))